<h1>Seja bem vindo ao curso de Angular - Alexandro</h1>
<h4 class="text-danger">{{ anuncio }}</h4>


<div class="row mx-md-n5">
    <div class="col px-md-5">

        <app-card-produto [foto]="foto" [nomeProduto]="nomeProduto" [promocao]="promocao" [idProduto]="idProduto" [precoProduto]="precoProduto" [dataValidade]="dataValidade">
        </app-card-produto>

    </div>
    <div class="col px-md-5">

        <app-card-produto [foto]="foto" [nomeProduto]="nomeProduto" [promocao]="promocao" [idProduto]="idProduto" [precoProduto]="precoProduto" [dataValidade]="dataValidade">
        </app-card-produto>

    </div>
</div>